
#Griffin_Games {
	/* left: 3vw; */
	width: 100vw;
	text-align: center;
}

#Du_ska_mrda {
	/* left: 4vw; */
	/* top: 30vh; */
	left: 6vw;
	top: 20vh;

	width: calc(100vw - 8vw);
	text-align: center;
	font-size: 6vmin;
}

#hidden {
	/* left: calc(4vw - 30px); */
	/* top: 36vh; */
	top: 23vh;
	width: 90vw;
	text-align: center;
	left: 5vw;
}

#hit {
	text-shadow: none;
	color: white;
	background-color: transparent;
	margin: auto;
	font-size: 7vmin;
}

#eye {
	display: none;
}


.line:nth-of-type(2) {
		/* width: 15vw; */
		width: 27vw;
}

#info {
	/* top: 10vh; */
	/* height: 80vh; */
	/* width: 39vw; */
	height: 30vh;
	width: 90vw;
	top: 38vh;
	padding: 2vh;
	display: none;
}

#Report {
	/* left: 4vw; */
	/* top: 70vh; */
	left: 5vw;
	top: 75vh;
	width: 90vw;
}

#rapportera {
	/* right: 17vw; */
	/* font-size: 3vmin; */
	/* width: calc\(80vw; */
	right: 10vw;
	font-size: 6vmin;
	width: calc(80vw - 6vw);
	height: 8vh;
	text-align: center;
}

.nextHit {
	/* font-size: 4vmin; */
	/* width: calc(26vw - 10px); */
	font-size: 5vmin;
	width: calc(60vw - 10px);
}

.line {
	/* width: 26vw; */
	/* bottom: -5px; */
	width: 60vw;
	bottom: -1vh;
}

.line:nth-of-type(2) {
	/* left: calc(30vw - 10px); */
	left: calc(65vw - 10px);
}

.label {
	/* font-size: 2vmin; */
	font-size: 4vmin;
}

/* Element | http://localhost:3000/portal */

#nextHitClass {
	width: 26vw;
	margin-right: 0;
}


/* portalSmall.css | http://localhost:3000/client/portal/portalSmall.css */

#Du_ska_mrda {
	/* top: 20vh; */
	top: 25vh;
  }
  
  #hidden {
	/* top: 23vh; */
	top: 29vh;
  }
  
  #Report {
	/* top: 75vh; */
	top: 70vh;
  }
  
  #rapportera {
	/* font-size: 6vmin; */
	/* height: 8vh; */
	font-size: 5vmin;
	height: 11vh;
  }
  
  /* portal.css | http://localhost:3000/client/portal/portal.css */
  
  .label {
	/* bottom: -4vh; */
	bottom: -6vh;
  }
  
  #rapportera {
	/* top: 12vh; */
	top: 16vh;
  }
  