<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Du är eliminerad</title>

	<link rel="stylesheet" href="/client/dead/dead.css">
</head>
<body>
	<div id="body">			
		<span id="Griffin_Games" class= "text">Griffin Games</span>
        <span id="eliminated" class= "text">Du har blivit eliminerad, <br>du kom på <%= placement %> plats</span>
		<span id="left" class="text">Det är <%= left %> personer kvar</span>
	</div>
</body>
</html>